<section class="mainSection">
    <div class="wellcome">
        <h1>BE WELLCOME AT YOUR TECH BLOG APP</h1>
    </div>

    <div class="info">
    <div class="mission">
        <h2>*Our Mission*</h2>
        <p>Empower and inspire the tech community.</p>
        <p>We aim to bridge the gap between complex technological advancements.</p>
        <p>we are here to make technology accessible and understandable for everyone.</p>
        <p id="bekind">Please Be Kind!</p>
    </div>
        <div class="mission">
        <h2>*Functionalities*</h2>
        <ul class="functionalities">
            <li>You Create your Posts.</li>
            <li>You Read Posts</li>
            <li>You can comment your and other user's Posts.</li>
            <li>Click in the User name and it will navigate you to the Posts.</li>
        </ul>


     
    </div>
    </div>
    <div class="ourUsers">
    <h1>Our Users</h1>
<%@users.each do |user| %>
<%= render partial: "users/user", locals: {user: user}%>
<%end%>
    </div>

</section>








