<header class="postHeader">
<div class="userInfo">
<p>Post #<%=id%> by </p>
<p id="author"><%=user.name%></p>
</div>
<div>
 <p id="postStatistic">Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0%></p>
</div>
</header>
