<h1>Hosanna Tech Blog</h1>
<br>
<p>Welcome to your Tech Blog! <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
