<header>
<nav>
<a href="/"><%= image_tag "home.svg", alt: "Home"%></a>
<a href=<%="/users/#{session[:user]['id']}/posts/new"%>><%= image_tag "post.svg", alt: "new Post"%></a>
<a href="/logout" class="logout"><button type="button">Logout</button></a>
</nav>
</header>